<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Page</title>
</head>
<body>
    <img width="400" src="https://static.printler.com/cache/8/e/1/a/0/c/8e1a0c16bf0c2cfa3bc131c209051cf5b64a2c46.jpg">
    <h1>
        Hello world!
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quisquam, voluptatum. Quisquam, voluptatum. Quisquam, voluptatum.
        Quisquam, voluptatum. Quisquam, voluptatum. Quisquam, voluptatum.
        Quisquam, voluptatum. Quisquam, voluptatum. Quisquam, voluptatum.
    </p>
</body>
</html>